<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>793246934530-epokt552mf6s2mav2n5g987vqsci0sou.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.793246934530-epokt552mf6s2mav2n5g987vqsci0sou</string>
	<key>API_KEY</key>
	<string>AIzaSyAkSvL35NbsZl0QrvvrRpQXse6sIj6sjjM</string>
	<key>GCM_SENDER_ID</key>
	<string>793246934530</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.arcbueno.myDevotionals</string>
	<key>PROJECT_ID</key>
	<string>my-devotionals</string>
	<key>STORAGE_BUCKET</key>
	<string>my-devotionals.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:793246934530:ios:fabe15cb45933ad319291b</string>
</dict>
</plist>